<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="ISO-8859-1">
    <title>Beat the Market</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><span class="blue">Beat</span><span class="black"> the </span><span class="blue">Market </span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="explore.html">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account_overview.html">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trade.html">Trade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-primary" type="submit"><a href="http://www.google.com" id="registerButtonA">Register</a></button>
                    <button class="btn btn-outline-success" type="submit"><a href="http://www.google.com" id="loginButtonA">Login</a></button>
                </form>
            </div>
        </div>
    </nav>
</header>
<section id="accountInfo">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="accountHeader">Account Info</span><br>
                <hr>
                <span class="accountHeader headerBreak">Guy Orlowski</span>
                <span class="accountHeader ">Game Started: </span>
                <span class="accountMetrics mx-2">2/1/2021</span>
                <span class="accountHeader ">Game Ends: </span>
                <span class="accountMetrics mx-2">2/1/2022</span>
            </div>
        </div>
    </div>
</section>
<section id="performance">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="accountHeader">Account Summary</span><br>
                <hr>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li class="valueTitle">Value of Stocks:</li>
                            <li class="valueTitle">Value of Mutual Funds:</li>
                            <li class="valueTitle">Cash on Hand:</li>
                            <li class="valueTitle">Total Portfolio:</li>
                            <li class="valueTitle">Total Portfolio Change %:</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">12%</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="accountHeader">Performance</span><br>
                <hr>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li class="valueTitle">SP500 on Game Start:</li>
                            <li class="valueTitle">SP500 Price Today:</li>
                            <li class="valueTitle">Change %:</li>
                            <!--              <li class="valueTitle">Your %:</li>-->
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">$100000.00</li>
                            <li class="valueMetric">12%</li>
                            <!--              <li class="valueMetric">12%</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>